.username-display {
    font-size: 10px;
    padding: 0 15px;
    color: #9f9f9f;

}

.username-display strong {
    font-weight: bold;
}

footer .text-center {
    background-color: rgba(0, 0, 0, 0.2);
}